graphviz==0.10.1
h5py==3.1.0
ipykernel==4.10.1
ipywidgets==7.6.3
jupyter==1.0.0
matplotlib==3.2.2
multiprocess==0.70.12.2
numpy==1.19.5
pandas==1.1.5
pip-tools==4.5.1
QtPy==1.9.0
regex==2019.12.20
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.1
sklearn-pandas==1.8.0